[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fnets"]
	path = fnets
	url = https://github.com/haeran-cho/fnets
[submodule "hdbinseg"]
	path = hdbinseg
	url = https://github.com/cran/hdbinseg
[submodule "mosum"]
	path = mosum
	url = https://github.com/cran/mosum
[submodule "tilting"]
	path = tilting
	url = https://github.com/cran/tilting
[submodule "unsystation"]
	path = unsystation
	url = https://github.com/cran/unsystation
